### 26-01-05

In [3]:
# 미션1
## 2개의 변수에 숫자를 입력한 뒤 (15,7)
## + - * / 몫 나머지 제곱의 결과를 출력해주세요
a = 15
b = 7
print("a+b=", a+b)
print("a-b=", a-b)
print("a*b=", a*b)
print("a/b=", a/b)
print("a//b=", a//b)
print("a%b=", a%b)
print("a**b=", a**b)

a+b= 22
a-b= 8
a*b= 105
a/b= 2.142857142857143
a//b= 2
a%b= 1
a**b= 170859375

In [ ]:
# 미션3
## 사용자로부터 2개의 숫자를 입력받아 +-*/ 결과 출력하기
## 출력 예시) 덧셈: 7 + 3 = 10
a = int(input('숫자를 입력하세요: '))
b = int(input('숫자를 입력하세요: '))
print(f'덧셈: {a} + {b} = {a+b}')
print(f'뺄셈: {a} - {b} = {a-b}')
print(f'곱셈: {a} * {b} = {a*b}')
print(f'나눗셈: {a} / {b} = {a/b}')
#fstring 사용하기

덧셈: 7 + 3 = 10
뺄셈: 7 - 3 = 4
곱셈: 7 * 3 = 21
나눗셈: 7 / 3 = 2.3333333333333335

In [17]:
print("Hello", "Python", end=" ")
print("Hello","Python", sep="*")

Hello Python Hello*Python

In [3]:
# 사용자로부터 금액을 입력받아서 금액이 3000원 이상인 경우만 
# 택시를 타고 밥도 먹도록 처리해주세요
money = int(input('금액을 입력: '))
if money>3000:
    print('택시를 탄다')
    print('밥도 먹는다')
else:
    print('실패!')

실패!

In [4]:
#짝수가 입력되었을때만 짝수라고 출력
even = int(input())
if even%2==0:
    print('짝수')
else:
    print("짝수 아님")

짝수 아님

In [15]:
#1~10까지 합의 결과를 출력하는 반복문
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

In [8]:
#1부터 10까지의 곱의 결과 출력하는 반복문
multiple=1
for i in range(1,11):
    multiple*=i
print(multiple)

3628800

In [16]:
# 구구단 2단을 for 반복문을 이용해서 출력해주세요
n = int(input('몇 단을 출력할지 입력하세요 '))
for i in range(1,10):
    print(f'{n} X {i} = {n*i}')

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [17]:
#2단부터 9단까지 출력
for i in range(2,10):
    print(f'{i}단')
    for j in range(1,10):
        print(f'{i} X {j} = {i*j}')
    print()

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [2]:
# 업앤다운 게임 만들어보기
import random
answer = random.randint(1,100)
cnt=0

while True:
    num = int(input('추측한 숫자를 입력해주세요'))
    if cnt > 10:
        print(f'10번 실패했어요! 게임 종료!')
    elif num < answer:
        print("업!")
        cnt+=1
    elif num > answer:
        print('다운!')
        cnt+=1
    elif num == answer:
        print(f'정답!! {cnt}번 만에 성공!')
        break

업!
다운!
정답!! 2번 만에 성공!

In [15]:
# 미션
# 사용자로부터 n개의 별의 개수를 입력 받을 것
# 별을 출력하되 별 개수만큼 출력하다 별이 소진되면 멈추는 코드 작성
# 트리의 코드는 최대 10층

n = int(input('별의 개수를 입력해주세요'))

level, cnt=1, 0

while True:
    for i in range(1,level+1):
        if cnt==n:
            break
        print("*", end='')
        cnt+=1
        
    if cnt ==n or level ==10:
        break
    print()
    level +=1

*
**
***
****
*****
******
*******
**

In [22]:
n = int(input('별의 개수를 입력해주세요'))
for i in range (1, 11): #10층까지만 출력
    for i in range (i): #i층엔 i개 별까지 출력
        if n>0:
            print("*", end="")
            n -= 1 #출력할 때마다 개수 차감
    print()
    if n==0:
        break

*
**
***
****
*****
******
*******
**

In [60]:
numbers = [10, "apple", True, [40,50,60]]
numbers[-1][1]

50

In [27]:
numbers[1] = 'banana'
numbers

[10, 'banana', True, [40, 50, 60]]

In [28]:
numbers[1:3]=[20,30]
numbers

[10, 20, 30, [40, 50, 60]]

In [30]:
numbers.insert(1, 550)
numbers

[10, 550, 550, 20, 30, [40, 50, 60]]

In [32]:
numbers.pop(3)

30

In [36]:
numbers

[10, 550, [40, 50, 60]]

In [ ]:
numbers.insert(2, 20)

In [ ]:
numbers.sort()

[10, 550, 20, [40, 50, 60]]

In [43]:
list2 = numbers.pop(3)
list2

[40, 50, 60]

In [44]:
numbers.extend(list2)

In [45]:
numbers

[10, 20, 550, 40, 50, 60]

In [47]:
numbers.insert(3,'apple')

In [49]:
numbers.sort
numbers

[10, 20, 550, 'apple', 40, 50, 60]

In [57]:
for i in numbers:
    print(i)

10
55
20
50
80

In [58]:
#미션
numbers = [10, 55, 20, 50, 80]
avg = sum(numbers)/len(numbers)
print(avg)

43.0

In [61]:
sorted(numbers, key=str) #문자열로 변환해서 정렬

[10, True, [40, 50, 60], 'apple']

In [67]:
#미션
#끝말잇기 게임
print('끝말잇기 게임')
print('시작')
var="가나다"

print(var)
while True:
    word = input('단어를 입력해주세요: ')
    print(word)
    if var[-1] == word[0]:
        var = word
    else:
        print('땡!')
        break

끝말잇기 게임
시작
가나다
다람쥐
쥐포
포장
모르겠다
땡!

In [73]:
# 미션
marks = [90, 25, 67, 45, 80]

#아래와 같이 출력되도록 코드 작성 

for i in range(len(marks)):
    if marks[i] > 60:
        print(f'{i+1}번 학생은 합격입니다.')
    else:
        print(f'{i+1}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [74]:
# 미션
marks = [90, 25, 67, 45, 80]
num = 0
#아래와 같이 출력되도록 코드 작성 
for i in marks:
    num+=1
    if i>=60:
        print(f'{num}번 학생은 합격입니다.')
    else:
        print(f'{num}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.